.depend
pngs
configs/*.dep
cursors
svgs/blue
svgs/yellow
svgs/brown
svgs/grey
svgs/green
svgs/violet
svgs/red
svgs/purple
svgs/navy
svgs/sea_blue
svgs/emerald
svgs/hot_orange
svgs/viorange
oxygen-cursors-*.tar.bz2